@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-atkinson), sans-serif;
}

:root {
  --accent: #bb5537;
  --accent-dark: #8a000d;
  --black: 25, 18, 15;
  --gray: 159, 96, 115;
  --gray-light: 242, 240, 238;
  --gray-dark: 59, 41, 34;
}

body {
  background: linear-gradient(rgba(242, 240, 238, 0.5), #fff) no-repeat;
  background-size: 100% 600px;
  color: rgb(var(--gray-dark));
  line-height: 1.7;
  font-family: var(--font-atkinson), sans-serif;
}

.font-serif-en {
  font-family: Georgia, "Times New Roman", serif;
}

.gloss-card {
  border-top: 2px solid var(--accent);
  box-shadow:
    0 2px 6px rgba(159, 96, 115, 0.25),
    0 8px 24px rgba(159, 96,115, 0.33);
}
